@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}

body {

    background: url('../images/bg2.jpg')no-repeat;
    color: #333;
    font-size: 1.4rem;
    font-family: "Helvetica", "Lucida Grande", "Microsoft JhengHei", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}



/* --------------------------------
 * base
 * -------------------------------- */


.clearfix::after{

  content: '';
  display: block;
  clear: both;
}


.header{


}



.logo{

  width: 200px;
  height: 82px;
  background: url('../images/logo.png')no-repeat;
  background-size: 100% 100%;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
  
}

.logo a{

  display: block;
  width: 100%;
  height: 100%;
}



.global-nav{

  margin-top: 15px;
  text-align: center;
  float: right;
}

.global-nav .nav-item{

  float: left;
  display: inline-block;
  padding: 0 10px;
  margin-right: 90px;
}

.global-nav .nav-item a{

  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 10px;
  margin-top: 20px;
}


.slideshow{
  overflow: hidden;
  width: 100%;
  height: 800px;
  position: relative;

}

.slideshow img{

    position: absolute;
    width: 100%;
    height: 800px;
    display: none;
}


.about{

  position: relative;
  padding: 80px 0;
  background: url('../images/bg.jpg')no-repeat fixed;
  background-size: 100%;
}


.about-icon{

  position: absolute;
  left: 40%;
  top: 3%;
  width: 250px;
  height: 80px;
  background: url('../images/about-icon.png')no-repeat;
  background-size: 100% 100%;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}

.about-bg{

  
  margin: 0 auto;
  width: 90%;
  background: url('../images/bg2.jpg')no-repeat fixed;
  opacity: 0.8;
  height: 800px;
}

.about-img{

  position: absolute;
  top: 20%;
  width: 50%;
  height: 500px;
  background: url('../images/shop.png')no-repeat;
  background-size: 100% 100%;
}



.contact{

  position: relative;
  padding: 80px 0;
  background: url('../images/bg.jpg')no-repeat fixed;
  background-size: 100%;
}

.contact-icon{

  position: absolute;
  left: 40%;
  top: 3%;
  width: 250px;
  height: 80px;
  background: url('../images/contact.png')no-repeat;
  background-size: 100% 100%;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}


.contact-bg{

  
  margin: 0 auto;
  width: 90%;
  background: url('../images/bg2.jpg')no-repeat fixed;
  opacity: 0.8;
  height: 800px;
}

.contact-img{

  position: absolute;
  top: 20%;
  width: 50%;
  height: 500px;
  
}

